{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="font-weight-bolder mb-1">{{post.title}}</h1>
                    <!-- Post meta content-->
                    <div class="text-muted font-italic mb-2">Created on {{post.created_on}} by {{post.author}}</div>
                    <!-- Post categories(change tags!!)-->
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="../static/img/orange-festival-banner.jpg" alt="..." /></figure>
                <!-- Post content-->
                <section class="mb-5">
                    <p>
                    {{post.body|safe}}
                </p>
                </section>
               <p><i class="fa-sharp fa-solid fa-hands-clapping fa-lg"></i>
                {{post.number_of_claps}}
               </p> 
            </article>
            <!-- Comments section-->
            <section class="mb-5">
                <div class="card bg-light">
                    <div class="card-body">
                        <!-- Comment form-->
                        <form class="mb-4"><textarea class="form-control" rows="3" placeholder="Join the discussion and leave a comment!"></textarea></form>
                    </div>
                    </div>  
            </section>
        </div>
    </div>
</div>
{% endblock %}