@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto:100, 200, 300, 400, 500, 600, 700');

html::-webkit-scrollbar{
    display:none;
}

body{
    min-height: 100vh;
}

/* navigation */

.navbar-brand {
    height: 3rem;
    font-size: 20px; 
    font-weight: 500;
}

.navbar{
    font-size: 1.1rem;
    letter-spacing:0.1rem;
    box-shadow: 0 .5rem .5rem rgba(0,0,0,.1);
    z-index: 2;
}

.navbar-collapse {
    flex-grow: 0;
}


/* carousel */

.carousel-indicators li {
width:10px;
height: 10px;
border-radius:100%

}




/* carousel transition speed */



/* carousel content */

/* User account pages */
.btn-account{
    background-color: #bc3fcc;
    color: #fff;
    border-color: black;
}

/* search bar */
.input-group {max-width:400px;

}
/* fixed background image */

/* forms */


/* footer */
footer{
    position:sticky;
    top: 100%;
}

/* media queries */
@media (max-width:992px){

}

@media (max-width:768px){

}

@media (max-width:576px){
    .input-group{
        display:none;
    } 
    .featured{
        margin: 10px;
    }
}
