
html::-webkit-scrollbar{
    display:none;
}

body{
    min-height: 100vh;
}

/* navigation */

.navbar-brand {
    height: 3rem;
    font-size: 20px; 
    font-weight: 500;
}

.navbar{
    font-size: 1.1rem;
    letter-spacing:0.1rem;
    box-shadow: 0 .5rem .5rem rgba(0,0,0,.1);
    z-index: 2;
}

.navbar-collapse {
    flex-grow: 0;
}

a {
    color: black;
    text-decoration: none;
}
/* blog section */

.main-title{
    text-align: center;
}
/* carousel */

.carousel-indicators li {
width:10px;
height: 10px;
border-radius:100%

}

#default-carousel{
    box-shadow: 0 1rem 1rem rgba(0,0,0,.1);
}

.carousel-inner{
    max-height: 38rem!important;
}

.carousel-caption{
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
}

.carousel-caption h1{
    font-size:3rem;
  
}

.carousel-caption h3{
    font-size:2rem;
   
}

.btn-lg{
    font-size:1rem;
   
}


.bg-custom{
 background-color: rgba(0,0,0,.5);
 border-radius:1rem;
 color:white;
}


/* User account pages */
.btn-account{
    background-color: #bc3fcc;
    color: #fff;
    border-color: black;
}


/* footer */
footer{
    position:sticky;
    top: 100%;
}

/* media queries */
@media (max-width:1999.98px){
    .carousel-caption h2{
   
        font-size: 2.3rem;
    } 
    .carousel-caption h5{
        position: absolute;
       
        font-size: 1.8rem;
    } 
}
@media (max-width:992px){
    .carousel-caption h1{
        font-size:2rem;
      
    }
    
    .carousel-caption h3{
        font-size:1rem;
       
    }
    
}

@media (max-width:768px){
    .carousel-caption h1{
        font-size:1.75rem;
      
    }
    
    .carousel-caption h3{
        font-size:1rem;
       
    }
}

@media (max-width:576px){
    .carousel-caption h1{
        font-size:1rem;
      
    }
    
    .carousel-caption h3{
        font-size:.75rem;
       
    }
}
